<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tarefas</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="/css/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
</head>

<body>
  <section class="container">
    <h1>Sistema de gerenciamento de tarefas</h1>
    <span class="circulo"></span>
    <div class="opcoes">
      <a th:href="@{/listatarefas}"><button>Tarefas</button></a>
      <a th:href="@{/buscartarefas}"><button>Buscar</button></a>
      <a><button  class="bt-adicionar">Adicionar tarefa</button></a>
    </div>
    <div class="container-adicionar">
      <form th:action="@{/tarefas/adicionar}" class="" th:object="${tarefa}" method="post">
          <div class="buscar">
          
              <input type="text" name="descricao">
              <span>Adicionar tarefa</span>
              
         </div>
         <button type="submit" class="bt-enviar">Adicionar</button>
      </form>
    </div> 
    <div class="tabela-tarefas">
        <table>
            <thead>
                <tr>
                    <th>Finalizar</th>
                    <th> Tarefa </th>
                    <th> Deletar </th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="tarefa:${tarefas}">
                    <td class="icon-table check"><span><a class="check" th:href="@{/tarefas/concluir/{id}(id=${tarefa.id})}"> <i class="fas fa-check"></i></a></span></td>
                    <td><span th:text="${tarefa.descricao}"> Limpar a casa </span></td>
                    <td  class="icon-table delete" ><span> <a th:href="@{/tarefas/deletar/{id}(id=${tarefa.id})}"><i class="fas fa-times delete"></i></a> </span></td>
                </tr>
               
                
            </tbody>
        </table>
    </div>
  </section>

  <script src="/js/main.js"></script>
</body>

</html>