<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tarefas</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="/css/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
</head>

<body>
  <section class="container">
    <h1>Sistema de gerenciamento de tarefas</h1>
    <span class="circulo"></span>
    <div class="opcoes">
      <a th:href="@{/listatarefas}"><button>Tarefas</button></a>
      <a th:href="@{/buscartarefas}"><button>Buscar</button></a>
    </div>
    <div class="tabela-tarefas">
        <table>
            <thead>
                <tr>
                    <th>  </th>
                    <th> Tarefa </th>
                    <th> Alterar </th>
                    <th> Deletar </th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="tarefa:${tarefas}">
                    <td class="icon-table check"><span><a class="check"> <i class="fas fa-check"></i></a></span></td>
                    <td><span th:text="${tarefa.descricao}"> Limpar a casa </span></td>
                    <td  class="icon-table update"><span> <a><i class="fas fa-pencil-alt a-edit"></a></i> </span></td>
                    <td  class="icon-table delete" ><span> <a th:href="@{/tarefas/{id}(id=${tarefa.id})}"><i class="fas fa-times delete"></i></a> </span></td>
                </tr>
               
                
            </tbody>
        </table>
    </div>
  </section>
  <div class="janela" id="janela">
    <button class="fechar" type=""><i class="fas fa-times fa-2x fechar"></i></button>
    <div class="container-busca">
      <form action="#" class="" method="post">
          <div class="buscar">
          
              <input type="text">
              <span>Alterar tarefa</span>
              
         </div>
         <button type="submit" class="bt-enviar">Alterar</button>
      </form>
    </div> 
  </div>

  <script src="./assets/js/main.js"></script>
</body>

</html>